.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
  width: 100%;
  border-radius: var(--container-container-radii);
  border: var(--container-container-stroke-weight) solid
    var(--actions-actions-container-stroke);
  background: var(--actions-actions-container-surface);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
