.panel {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  border-radius: var(--document-panel-radii);
  border: var(--document-panel-stroke-weight) solid var(--agenda-agenda-panel-stroke);
  background: var(--agenda-agenda-panel-surface);
}

.header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  font-family: var(--document-text-header-font-face);
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  color: var(--document-header-text-color);
}

.name {
  white-space: nowrap;
}
