.goal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 96px;
  padding: 10px;
  border-radius: var(--containers-card1-radii);
  border: var(--containers-card1-stroke-weight) solid
    var(--containers-card1-stroke-color);
  background: var(--containers-card1-surface-color);
}

.content {
  padding-right: 24px;
}
