.group {
  display: flex;
  flex-shrink: 0;
  gap: 24px;
  width: 224px;
  height: 30px;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100px;
  height: 30px;
  padding: 5px 21px;
  overflow: clip;
  border: 1px solid var(--ui-ui-stroke-color);
  font-family: var(--document-text-header-font-face);
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  color: var(--document-header-text-color);
  cursor: pointer;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  box-shadow:
    inset 0 -3px 0 rgba(0, 0, 0, 0.25),
    inset 0 4px 0 rgba(255, 255, 255, 0.4);
}

.no {
  border-radius: 2px;
}

.yes {
  border-radius: 3px;
}

.light .no {
  background: #ff7c7c;
}

.light .yes {
  background: #9dff82;
}

.dark .no {
  background: #b20303;
}

.dark .yes {
  background: #229f00;
}
